extends ../shared/template

block content
    h2 New Task

    form(method='post', action='/tasks')
      input(name='name', type='text', placeholder='Task', autofocus=true)
      input(name='due', type='text', placeholder='mm/dd/year')
      input(name='photo', type='text', placeholder='http://image/laundry.jpg')
      input(name='tags', type='text', placeholder='tag')
      select(name='priorityID')
        each priority in priorities
          option(value='#{priority._id}')= priority.name
      button Add Task!

